/* Navbar.css */
.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1D1E59;
    color: #fff;
    padding: 10px 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar-container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.navbar-logo a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    /* margin-right: 30px; */
}

.navbar-brand {
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

/* Navbar Left - Logo y menú hamburguesa */
.navbar-left {
  display: flex;
  align-items: center;
  margin-right: 2%;
}

.navbar-center {
  display: flex;
  align-items: center;
  flex-grow: 1; /* Permite que el buscador ocupe espacio */
}

.navbar-center-user {
  display: flex;
  align-items: center;
}

.search-form {
  display: flex;
  width: 100%; /* Ajusta el ancho del buscador */
  max-width: 400px; /* Ancho máximo para el buscador */
}

.search-input {
  border: 1px solid #555;
  padding: 8px 12px;
  border-radius: 50px 50px 50px 50px;
  flex-grow: 1;
  font-size: 16px;
  outline: none;
}

.search-button {
  background-color: transparent;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-size: large;
}

.search-button:hover {
  color:#218838;
}

.navbar-right {
  position: relative;
  margin-left: 20px; /* Espacio entre el buscador y el carrito */
}

.user-info {
  color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
}
